body {
    padding-top: 30px;
    padding-bottom: 30px;

}

h1 {
	text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
    /*padding: 40px 15px;*/
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.page-content {
  padding-left: 40px;
  padding-right: 40px;
}

.sponsor {
	max-width: 100px;
	max-height: 100px;
  vertical-align: center;
  margin-right: auto;
  margin-left: auto;
}

.sponsor-grid {
  margin-top: 10px;
  margin-bottom: 20px;
  vertical-align: center
}
.sponsor-grid [class*="col"] {
  text-align: center;
  min-height: 100px;
  line-height: 100px;
}

.vertical-center {
  vertical-align: center;
}

.portrait {
  width: 94px;
  height: 120px;
}

@media screen and (max-width: 992px) {
  body {
    padding-top: 85px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .page-content {
    padding: 10px;
    padding-top: 20px;
  }  

  .sponsor {
    padding: 10px;
  }
}

